<h2 style="margin-left:40%"> Create User</h2>
<div class="card">
    <div>
        <input type="text" placeholder="enter profile Url" formControlName="avatarUrl">
        <img src=" http://www.gravatar.com/avatar/?d=mp" alt="Avatar" style="width:100%">
    </div>
    <div class="container" [formGroup]="profileForm">
       <h4><b>Name : </b><input type="text" formControlName="name"></h4>
      <p><b>Status Message :</b><input type="text" formControlName="statusMessage"></p>
      <p><b>Email :</b><input type="text" formControlName="email"> </p>
      <p><b>Age:</b> <input type="text" formControlName="age"></p>
      <p><b>isPublic:</b> 
        <br>
        <input type="radio" id="True" value="True" formControlName="isPublic">True<br>   
        <input type="radio" id="False" value="False" formControlName="isPublic">False<br>   
     </p>
      <p> <button style="margin-left: 120px; margin-top: 80px;" (click)="createProfile()">Create</button> </p>
    </div>
    
</div>