<div class="header">
  <button (click)="goBack()"> <=Back</button>
  <div>
    <h2> Create User</h2>
  </div>
</div>
  <div class="card" [formGroup]="profileForm">
    <div>
      <b>ProfileUrl :</b><input type="text" placeholder="enter profile Url" formControlName="avatarUrl" style="float:right ;">
        <img src=" http://www.gravatar.com/avatar/?d=mp" alt="Avatar" style="width:100%">
    </div>
    <div class="container" >
       <p><b>Name : </b><input type="text" formControlName="name"></p>
      <p><b>Status Message :</b><input type="text" formControlName="statusMessage"></p>
      <p><b>Email :</b><input type="text" formControlName="email"> </p>
      <p><b>Age:</b> <input type="text" formControlName="age"></p>
      <p><b>isPublic:</b> 
        <br>
        <input type="radio" id="True" value="True" formControlName="isPublic">True<br>   
        <input type="radio" id="False" value="False" formControlName="isPublic">False<br>   
     </p>
     <div class="footer" >
       <p> <button  (click)="createProfile()" [disabled]="!profileForm.valid"  style="color: green;">Create</button> </p>
      </div>
    </div>
  </div>


    