
<!-- <button (click)="pageRedirect()">Redirect</button> -->
<h1  style="margin-left:20% ;">User Details</h1>
<button (click)="goBack()"> <=Back</button>

<div class="card" [formGroup]="profileForm">
    <div>
        <input type="text" placeholder="enter profile Url" formControlName="avatarUrl">
        <img src="{{userData?.avatarUrl}} " alt="Avatar" style="width:100%">
    </div>
    
    <div class="container" >
       <h4><b>Name :<input type="text" value="{{userData?.name}}" name="" formControlName="name"></b></h4>
      <p><b>Status Message :</b> <input type="text" value="{{userData?.statusMessage}}" formControlName="statusMessage"> </p>
      <p><b>Email :</b> <input type="text" value="{{userData?.email}}" formControlName="email"> </p>

      <p><b>Age:</b> <input type="text" value="{{userData?.age}}" formControlName="age"> </p>
      <p><b>isPublic:</b>  
        <input type="radio" id="True" value="True" formControlName="isPublic">True<br>   
        <input type="radio" id="False" value="False" formControlName="isPublic">False<br>  
     </p>
      
      <span style="float:right">
          <button (click)="saveProfile()" style="color : blue"> Save</button>
          <div>
              <button (click)="deleteProfile(userData?.id)" style="color:red"> Delete </button>
          </div>
      </span>

    </div>
    <span >
        <p><b>createdAt : </b>{{userData?.createdAt | date : 'medium'}}</p>
    </span>
</div>