<div class="header">
    <div >
      <a routerLink="/create" class="dropbtn" >
        <button appHighlight > Create User</button>
      </a>
     </div>
    <div class="mid-header">
      <h1 (click)="default()"> Users </h1> 
       <input
       type="text" 
       placeholder="Search by name"
       [(ngModel)]="search"
       (ngModelChange)="searchResources(search)" >
    </div>
    <div > 
      <div class="dropdown">
        <button appHighlight class="dropbtn">Sort</button>
        <div class="dropdown-content">
          <a (click)="sortByAge()"> Sort By Age </a>
          <a (click)="sortByDate()"> Sort By Created Date </a>
        </div>
      </div>
      <!-- <button (click)="sortByAge()"> sort by age</button> 
      <button (click)="sortByDate()">sort by created date</button> -->
    </div>


</div>



<div >
  <div class="container" >
    <div  *ngFor="let user of sortedUsers | paginate : {
      itemsPerPage: limit,
      currentPage: page,
      totalItems: total
      }" 
      class="card">
      <div class="card-detail">
        <a routerLink="/detail/{{user?.id}}" class="inner-class">
          <div >
            <img class="pro-pic" src="{{user?.avatarUrl}}" alt="avatar" >
          </div>
          <div >
            <h1>{{user?.name}}</h1>
            <h2>{{user?.statusMessage}}</h2>
            <h2>{{ user?.createdAt | date : 'medium' }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer" >
  <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>

  <!-- <button (click)="getPrevUsers()" [disabled]="page <= 1">
     -prev
  </button>
  <button (click)="getNextUsers()" [disabled]="sortedUsers==[]">
    next- >
  </button> -->
</div>

  