<div class="header">
    <div > <h1> Users </h1> 
      <a routerLink="/create">
        <button> Create User</button>
      </a>
     </div>
    <div > <input
       type="text" 
       placeholder="Search by name"
       [(ngModel)]="search"
       (ngModelChange)="searchResources(search)" >
       </div>
    <div > <button (click)="sortByAge()"> sort by age</button> 
      <button (click)="sortByDate()">sort by created date</button>
    </div>


</div>



<div *ngIf="!LoadMore; ">
  <div class="container" >
    <div  *ngFor="let user of sortedUsers | paginate: { itemsPerPage: 6, currentPage: p }" class="card">
      <div class="card-detail">
        <a routerLink="/detail/{{user?.id}}" class="inner-class">
          <div>
            <img src="{{user?.avatarUrl}}" alt="avatar" style="height: 70%;">
          </div>
          <div >
            <h1>{{user?.name}}</h1>
            <h2>{{user?.statusMessage}}</h2>
            <h2>{{ myFunction(user?.createdAt) }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div style="align-items:center ">
   <!-- <button (click)="loadMore()" >
     <h3> Load More</h3>
   </button> -->
   <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<!-- <ng-template #elseTemplate>
  <div class="container" >
    <div  *ngFor="let user of sortedUsers" class="card">
      <div class="card-detail">
        <a routerLink="/detail/{{user.id}}" class="inner-class">
          <img src="{{user.avatarUrl}}" alt="avatar" style="height: 70%;">
          <span >
            <h1>{{user.name}}</h1>
            <h2>{{user.statusMessage}}</h2>
            <h2>{{ myFunction(user?.createdAt) }}</h2>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div style="margin-left:80%">
   <button (click)="loadMore()">
     <h3> Load Less</h3>
   </button>
  </div></ng-template> -->
  